blockquote {padding-left: 1em;border-left: 3px solid #000}
pre,code {overflow: auto;background:#ddd}

@media (prefers-color-scheme: dark){
    body {color:#fff;background:#000}
    a:link {color:#9cf}
    a:visited {color:#c9f}
    blockquote {padding-left: 1em;border-left: 3px solid #fff}
    pre,code {overflow: auto;background:#555}
}

h1,h2,h3 {line-height:1.2}
#nav li {list-style: none}
img {max-width: 100%}
pre {border: 1px solid #069}
a:hover, a:visited:hover {color:#f00}

body{
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    font:1.2em/1.62 sans-serif;
    overflow-wrap: break-word;
}
