html {
	overflow-y: scroll;
}

body {
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

pre, code {
	margin: 0;
}

a {
	color: #005386;
}

#header a, #nav a, #menu a {
	text-decoration: none;
}

#nav a:hover {
	background-color: #ddd;
}

#menu {
	clear: both;
	color: #069;
	overflow: hidden;
	background-color: #17a;
	padding: 0.7ex;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #069;
}

#menu a {
	padding: 0.5ex 1ex;
	color: #fff;
}

#menu a:hover {
	background-color: #069;
}

#header {
	background-color: #eee;
	clear: both;
	color: #555;
	font-size: 1.78em;
	padding: 0.7ex 0.7ex 0.7ex 0.7em;
}

#headerLink {
	color: #17a;
	margin-left: 5px;
}

h1 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.4em;
}

h2 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.3em;
}

h3 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.0em;
}

h4 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 0.9em;
}

#headerSubtitle {
	font-size: 0.75em;
	font-style: italic;
	margin-left: 1em;
}

#content {
	clear: both;
	margin: 0;
	padding: 0;
	/*background-color: #fff;
	overflow: hidden;*/
}

#nav {
	/*background-color: #fff;*/
	float: left;
	margin: 0 1px 0 0;
	padding: 1em 0;
	border-right: 1px dotted #ccc;
	width: 200px;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li ul {
	padding-left: 0.6em !important;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0.8ex 2em 0.8ex 1em;
}

#main {
	margin: 0 0 0 200px;
	max-width: 50em;
	padding: 1.5em;
}

.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}
